@import '../../variables'

.button
  border-radius: .375em
  cursor: pointer
  display: inline-block
  font-family: Montserrat, sans-serif
  font-size: 1rem
  font-weight: bold
  padding: 1rem 1.5rem
.button:hover
  opacity: .4
.button:active
  opacity: .75

.button--icon
  display: flex
  flex-flow: row nowrap
  align-items: center
  gap: .25rem
.button--icon--icon
  font-size: 2rem
  line-height: 0

.button--primary
  background-color: $green
  border: 1px solid $green
  color: $black
  &.button--outlined
    background-color: transparent
    color: $green

.button--secondary
  background-color: $lightgray
  border: 1px solid $lightgray
  color: $darkgray
  &.button--outlined
    background-color: transparent
    border-color: $darkgray
    color: $darkgray

.button--info
  background-color: $info
  border: 1px solid $info
  color: $white
  &.button--outlined
    background-color: transparent
    color: $info

.button--success
  background-color: $success
  border: 1px solid $success
  color: $white
  &.button--outlined
    background-color: transparent
    color: $success

.button--caution
  background-color: $caution
  border: 1px solid $caution
  color: $black
  &.button--outlined
    background-color: transparent
    color: $caution

.button--warning
  background-color: $warning
  border: 1px solid $warning
  color: $white
  &.button--outlined
    background-color: transparent
    color: $warning

.button--danger
  background-color: $danger
  border: 1px solid $danger
  color: $white
  &.button--outlined
    background-color: transparent
    color: $danger

.button--transparent
  background-color: transparent
  border: none
  color: $black
