@use '../../variables'

.button
  border-radius: .375em
  cursor: pointer
  display: inline-block
  font-family: variables.$font-sans, sans-serif
  font-size: 1rem
  font-weight: bold
  padding: 1rem 1.5rem
.button:hover
  opacity: .4
.button:active
  opacity: .75

.button--icon
  display: flex
  flex-flow: row nowrap
  align-items: center
  gap: .25rem
.button--icon--icon
  font-size: 2rem
  line-height: 0

.button--primary
  background-color: variables.$coral
  border: 1px solid variables.$coral
  color: variables.$white
  &.button--outlined
    background-color: transparent
    color: variables.$coral

.button--secondary
  background-color: variables.$lightgray
  border: 1px solid variables.$lightgray
  color: variables.$darkgray
  &.button--outlined
    background-color: transparent
    border-color: variables.$darkgray
    color: variables.$darkgray

.button--info
  background-color: variables.$info
  border: 1px solid variables.$info
  color: variables.$white
  &.button--outlined
    background-color: transparent
    color: variables.$info

.button--success
  background-color: variables.$success
  border: 1px solid variables.$success
  color: variables.$white
  &.button--outlined
    background-color: transparent
    color: variables.$success

.button--caution
  background-color: variables.$caution
  border: 1px solid variables.$caution
  color: variables.$black
  &.button--outlined
    background-color: transparent
    color: variables.$caution

.button--warning
  background-color: variables.$warning
  border: 1px solid variables.$warning
  color: variables.$white
  &.button--outlined
    background-color: transparent
    color: variables.$warning

.button--danger
  background-color: variables.$danger
  border: 1px solid variables.$danger
  color: variables.$white
  &.button--outlined
    background-color: transparent
    color: variables.$danger

.button--transparent
  background-color: transparent
  border: none
  color: variables.$black
  padding: 1rem 0rem
