@import '../_variables';

.designList {
    background-color: $e;
    padding: 2rem;
    margin-bottom: 1rem;
}

.designBadge {
    font-size: .9rem;
    font-weight: normal;
    background-color: $dark;
    padding: .5rem;
    margin-right: .5rem;
    margin-top: .5rem;
}