@import '../_variables';

#footerContainer {
    padding: 0 .5rem;
}

#footer {
    background-color: $clouds !important;
}

#footer a {
    color: $asbestos;
}

#footer a:hover {
    color: $wetAsphalt;
}

#copyright {
    color: $asbestos;
    font-size: .85rem;
    line-height: 25px;
    vertical-align: middle;
    padding-right: .5rem;
}

#footerDribbble {
    padding-right: .5rem;
}

#footerGithub {
    padding-left: 0;
    padding-right: .5rem;
}

#footerLinkedin {
    padding-left: 0;
    padding-right: 0;
}