@import '../_variables';

#mainNav {
    padding: 1rem;
}

#myName {
    color: $dark;
    font-size: 1.5rem;
    margin: auto 0;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
}

#logoLink {
    padding: 0;
}

.navBarLogo img {
    border-radius: 15px;
    margin-right: 0.5rem;
}

.navBarSocial {
    display: flex;
}