@import '../_variables';

#welcomeContainer {
    color: white;
    padding: 0 1.5rem;
}

#welcomeContainer h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 2rem 0;
}

#welcomeContainer h4 {
    margin: 0;
}

#welcomeContainer p {
    text-align: justify;
    margin: 2rem 0 0 0;
}

#welcomeRow {
    background-image: url('../img/prism.png');
    padding: 2rem;
}

#avatar {
    height: auto;
    width: 100%;
}