@import '../_variables';

#welcomeContainer {
    background-image: url('../img/sydney.jpg');
    background-size: cover;
    background-position: center top;
    padding: 1rem;
}

#welcomeContainer h2 {
    font-weight: bold;
    margin: 0;
}