@use '../../variables'

#nameplate
    font-family: Montserrat, sans-serif
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    gap: 1rem
    h1
        @media (width <= variables.$mobileBreakPoint)
            display: none
        @media (width > variables.$mobileBreakPoint)
            font-size: 2rem

#nameplate--logo
    border-radius: 24%
    height: 4rem
