@use '../../variables'

#nameplate
    font-family: variables.$font-serif
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    gap: 1rem
    h1
        margin: 0px
        @media (width <= variables.$mobileBreakPoint)
            display: none
        @media (width > variables.$mobileBreakPoint)
            font-size: 1.5rem

#nameplate--logo
    height: 2rem
