// colors
$midnightBlue: #2c3e50;
$wetAsphalt: #34495e;
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$silver: #bdc3c7;
$clouds: #ecf0f1;

$emerland: #2ecc71;
$nephritis: #27ae60;

$alizarin: #e74c3c;
$pomegranate: #c0392b;

$peterriver: #3498db;
$belizehole: #2980b9;