// monochrome
$black: #14181f
$white: #f4f1ea
$lightgray: #E0E0E0
$darkgray: #9E9E9E

// brand
$blue: #082567
$green: #54FF9B

// feedback
$success: #2ecc71
$caution: #f1c40f
$warning: #e67e22
$danger: #e74c3c
$info: #3498db

// fonts
$font-sans: "IBM Plex Sans", sans-serif
$font-serif: "IBM Plex Serif", serif
$font-mono: "IBM Plex Mono", monospace

// sizing
$mobileBreakPoint: 768px
