// monochrome
$black: #241c15
$white: #f2f2f2
$lightgray: #E0E0E0
$darkgray: #9E9E9E

// brand
$blue: #082567
$green: #54FF9B

// feedback
$success: #2ecc71
$caution: #f1c40f
$warning: #e67e22
$danger: #e74c3c
$info: #3498db

// sizing
$mobileBreakPoint: 768px
